/* bootstrap
----------------------------------------------------------------*/

/* layout
----------------------------------------------------------------*/
.container{ max-width:768px; margin:0 auto;}
.imgWrap{ padding:1rem; max-width:280px; margin:0 auto;}